:root {
    --primary: #2a9ec6;
    --font-2: rgb(61, 232, 160);
    --font-3: rgb(51, 247, 244);
    --font-family: "Poppins", sans-serif;
    --text-color: rgb(164, 159, 159);
    --backgroundtheme: linear-gradient(90deg, rgba(99,232,191,0.17054154425442047) 10%, rgba(253,252,29,0.2685807599406951) 51%, rgba(90,244,225,0.3498132529378939) 100%);
   
  }